<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wk.hodgepodge.storage.mapper.StorageMapper">
    <insert id="insert">
        insert into `storage_tbl` values (null,#{commodityCode},#{count})
    </insert>
    <update id="decrease">
        update `storage_tbl` set count = count - #{0}
    </update>
    <delete id="clear">
        delete from `storage_tbl`
    </delete>
</mapper>